mixin footerMenu(list)
	ul.footerMenu
		each link in list
			li.footerMenu__
				a(href="#", target="_blank").footerMenu__link= link

mixin footer()
	footer.footer
		.footer__.footer__menu
			+footerMenu(['our menu','gallery','culture'])
		.footer__.footer__logo
			+logo("dark")
		.footer__.footer__menu
			+footerMenu(['events','catering','visit us'])
