include ./_adaptiveSquare/_adaptiveSquare
include ./_blockHeader/_blockHeader
include ./_navbar/_navbar
include ./_header/_header
include ./_block_1/_block_1
include ./_block_2/_block_2
include ./_block_3/_block_3
include ./_block_4/_block_4
include ./_footer/_footer
