//////////////////////////////////////
// Block 4
//////////////////////////////////////
.block4
	width: 1200px
	margin: auto
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: center
.block4__left
	width: get_w(4)
.block4__right
	width: get_w(8)
.block4__header
	display: inline-block


//////////////////////////////////////
// Jibarito Menu
//////////////////////////////////////
.jibaritoMenu
	font-size: 1rem
	list-style: none
	padding: 0
	margin: 0
.jibaritoMenu__
	text-align: center
.jibaritoMenu__image
	width: 6.250em
	height: 6.250em
	margin: auto
	border-radius: 50%
	overflow: hidden
	img
		display: block
		min-width: 100%
		min-height: 100%
.jibaritoMenu__title
	font-size: 1.875em
	letter-spacing: 0.025em
	line-height: 1
	font-family: "Alegreya-Regular"
	font-weight: 700
	color: #a47d5e
.jibaritoMenu__desc
	font-size: 0.875em
	letter-spacing: 0.1em
	line-height: 1.429em
	font-family: "ProximaNova-Regular"
	font-weight: 400
	color: #56534c


//////////////////////////////////////
// Jibarito Recipe
//////////////////////////////////////
$jibarito_padding: 0.625em
$jibarito_margin: 1.563em
.jibaritoRecipe
	font-size: 1rem
	position: relative
	padding: $jibarito_padding
	background-color: #fff
	margin: $jibarito_margin
	display: flex
	justify-content: flex-end
.jibaritoRecipe__image
	position: absolute
	top: $jibarito_padding
	bottom: $jibarito_padding
	left: $jibarito_padding
	right: $jibarito_padding
	overflow: hidden
	z-index: 99
.jibaritoRecipe__fullRecipe
	font-size: 1.125em
	letter-spacing: 0.05em
	line-height: 1.667
	font-family: "Alegreya-Regular"
	font-weight: 700
	position: absolute
	z-index: 101
	bottom: 0
	left: 0
	margin-bottom: -1.389em
	margin-left: -1.389em
	padding: 1.111em 1.667em
	background-color: #fff
	border: 1px dashed #dfc691
	color: #dfc691
	text-transform: uppercase
.jibaritoRecipe__info
	position: relative
	z-index: 100
	margin-top: -2.188em !important
	margin-bottom: -2.188em !important
.recipeInfo
	list-style: none
	margin: 0
	padding: 0
	display: inline-block
.recipeInfo__
