mixin block_4()
	.block4
		.block4__left
			+jibaritoMenu()
		.block4__right
			.block4__header
				+blockHeader("The Jibarito sandwich","the best sandwich you’ve ever tasted!")
			+jibaritoRecipe()


mixin jibarito()
	.jibarito
		.jibarito__.jibarito__left
			+jibaritoMenu()
		.jibarito__.jibarito__right
			.jibarito__header
				+blockHeader("The Jibarito sandwich","the best sandwich you’ve ever tasted!")
			+jibaritoRecipe()


mixin jibaritoMenu()
	ul.jibaritoMenu
		li.jibaritoMenu__
			.jibaritoMenu__image
				img(src="./pictures/Jibarito_sandwich_post1.png", alt="")
			.jibaritoMenu__title Class aptent
			.jibaritoMenu__desc Quot alienum persecuti ut eam, nam ad atqui primis nusquam.
		li.jibaritoMenu__
			.jibaritoMenu__image
				img(src="./pictures/Jibarito_sandwich_post12.png", alt="")
			.jibaritoMenu__title Nulla eget
			.jibaritoMenu__desc Nullam dictum felis eu pede mollis pretium Integer tincidunt.
		li.jibaritoMenu__
			.jibaritoMenu__image
				img(src="./pictures/Jibarito_sandwich_post13.png", alt="")
			.jibaritoMenu__title Sed nibh purus
			.jibaritoMenu__desc  Aenean eleifend tellus leo ligula, porttitor eu, consequat vitae.


mixin jibaritoRecipe()
	.jibaritoRecipe
		.jibaritoRecipe__image
			img(src="./pictures/Jibarito_sandwich.png", alt="")
		button(type="button").jibaritoRecipe__fullRecipe FULL RECIPE
		ul.jibaritoRecipe__info.recipeInfo
			.recipeInfo__
				+readyIn('PREP','15','mins')
			.recipeInfo__
				+readyIn('cook','35','mins')
			.recipeInfo__
				+readyIn('ready in','50','mins',true)