extends ./_html
block body
	.wrapper
		.wrapper__.wrapper__header
			.wrapper__headrNavbar
				+navbar()
			.wrapper__headerContent Content
		.wrapper__.wrapper__block1 123
		.wrapper__.wrapper__block2 123
		.wrapper__.wrapper__block3 123
		.wrapper__.wrapper__block4 123
		.wrapper__.wrapper__footer 123
