extends ./_html
block body
	.wrapper
		.wrapper__header
			.wrapper__headerNavbar
				+navbar()
			.wrapper__headerContent
				+header()
		.wrapper__.wrapper__block1
			+block_1()
		.wrapper__.wrapper__block2
			+block_2()
		.wrapper__.wrapper__block3
			+block_3()
		.wrapper__.wrapper__block4
			+block_4()
		.wrapper__footer
			+footer()
