extends ./_html
block body
	.wrapper
		.wrapper__.wrapper__header
			.wrapper__headrNavbar
				+navbar()
			.wrapper__headerContent
				.headerContent
					.headerContent__title Pastry with love
						+dashLine().headerContent__titleLine
					p.headerContent__desc We’re bringing you fresh ingredients every
						br
						| day in ways you can’t resist.
					button(type="button").headerContent__button Our Menu
		.wrapper__.wrapper__block1
			+block_1()
		.wrapper__.wrapper__block2
			+block_2()
		.wrapper__.wrapper__block3
			+block_3()
		.wrapper__.wrapper__block4
			+block_4()
		.wrapper__footer
			+footer()
