//////////////////////////////////////
// Slider
//////////////////////////////////////
.slider__wrapper
	position: relative
	padding: 3% 7% 1% 1%
	width: get_w(10)
	margin: auto
.slider
	margin: auto
	display: flex
	flex-flow: row nowrap
	font-size: 1rem
.slider__
	flex-grow: 1
	flex-shrink: 1
.slider__image
	width: get_w(5)
	background-color: #000
	position: relative
	overflow: hidden
	.slider__img
		position: absolute
		top: 0
		left: 0
		min-width: 100%
		min-height: 100%
	.slider__rating
		margin-left: 1.875em
		position: absolute
		top: 50%
		transform: translateY(-50%)
.slider__desc
	width: get_w(7)
	padding: 5em 3.75em 3.75em
	background: #fff url("./pictures/mill_origin.png") right bottom no-repeat
	background-size: 40%
	.slider__descHeader
		margin-bottom: 3.25em
	.slider__descDesc
		font-size: 0.875em
		line-height: 1.714em
		letter-spacing: 0.1em
		font-family: "ProximaNova-Regular"
		font-weight: 400
		margin-bottom: 7.3em
		color: #56534c
	.slider__slide
.slider__ready
	position: absolute
	right: 0
	top: 0
	box-shadow: 0 0 2em 0 #4b4b4b


//////////////////////////////////////
// Ratting
//////////////////////////////////////
.rating
	list-style: none
	padding: 0
	margin: 0
.rating_verical
.rating__star
.rating__star_active


//////////////////////////////////////
// Slider Control
//////////////////////////////////////
.sliderControl
	font-size: 1rem
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: center
	&>*
		flex-grow: 1
.sliderControl__arrow
	flex-shrink: 1
	&_left
	&_right
.sliderControl__list
	list-style: none
	padding: 0
	margin: 0
	white-space: nowrap
.sliderControl__
	display: inline-block
	margin: 0 1em
.sliderControl__link
.sliderControl__image
.sliderControl__arrow
