.header
	font-size: 1rem
	padding: 2%
	color: #fff
	text-align: center
	background-image: radial-gradient(circle 15em at center, #564f4c 0%, rgba(86, 83, 76, 0) 100%)
.header__title
	font-size: 5.75em
	letter-spacing: 0.075em
	line-height: 1
	font-family: "PlayfairDisplay-Regular"
	text-shadow: 0 1px 0 #3d3029
	color: #ffffff
	font-weight: 400
	&Line
		height: 0.1em
		margin: auto
		margin-top: 0.652em
		display: block
		fill: #fff
.header__desc
	font-size: 1.5em
	line-height: 1.5
	letter-spacing: 0.108em
	margin: 60px 0
	text-shadow: 0 1px 0 #3d3029
	color: #ffffff
	font-family: "ProximaNova-Light"
	font-weight: 400
.header__button
	font-size: 0.875em
	line-height: 1.714em
	letter-spacing: 0.3em
	font-family: "Alegreya-Regular"
	padding: 0.857em 3.214em
	font-weight: 700
	text-transform: uppercase
	border: 1px dashed #9e9c93
	color: #fff
	background-color: rgba(#55524c, 0.5)
	outline: none
	cursor: pointer
