mixin header()
	.header
		.header__title Pastry with love
			+dashLine().header__titleLine
		p.header__desc We’re bringing you fresh ingredients every
			br
			| day in ways you can’t resist.
		button(type="button").header__button Our Menu
