.readyIn
	display: inline-flex
	flex-flow: column nowrap
	justify-content: center
	align-items: center
	vertical-align: middle
	width: 11.111em
	height: 11.111em
	font-size: 1.125em
	font-family: "Alegreya-Bold"
	font-weight: 700
	padding: 1em
	text-align: center
	background-color: rgba(255, 255, 255, 0.8)
	letter-spacing: 0.1em
	&_complete
		background: #fff url("./pictures/readyIn.svg") top center no-repeat
		background-size: cover
		.readyIn__time
			color: #dfc691
			font-size: 5.75em
		.readyIn__timeUnit
.readyIn__title
	color: #a47d5e
	text-transform: uppercase
.readyIn__time
	color: #56534c
	font-size: 3.75em
	line-height: 1
.readyIn__timeUnit
	color: #979285
