+font('Ubuntu-R')

+font('Scriptina','./fonts/Scriptina/')

+font('Alegreya-Italic','./fonts/Alegreya/',300,italic)
+font('Alegreya-Regular','./fonts/Alegreya/',400,normal)
+font('Alegreya-Medium','./fonts/Alegreya/',500,normal)
+font('Alegreya-MediumItalic','./fonts/Alegreya/',500,italic)
+font('Alegreya-Bold','./fonts/Alegreya/',600,normal)
+font('Alegreya-BoldItalic','./fonts/Alegreya/',600,italic)
+font('Alegreya-ExtraBold','./fonts/Alegreya/',800,normal)
+font('Alegreya-ExtraBoldItalic','./fonts/Alegreya/',800,italic)
+font('Alegreya-Black','./fonts/Alegreya/',900,normal)
+font('Alegreya-BlackItalic','./fonts/Alegreya/',900,italic)

+font('ProximaNova-Thin','./fonts/ProximaNova/')
+font('ProximaNova-ThinIt','./fonts/ProximaNova/')
+font('ProximaNova-Light','./fonts/ProximaNova/')
+font('ProximaNova-LightIt','./fonts/ProximaNova/')
+font('ProximaNova-Regular','./fonts/ProximaNova/')
+font('ProximaNova-RegularIt','./fonts/ProximaNova/')
+font('ProximaNova-Bold','./fonts/ProximaNova/')
+font('ProximaNova-BoldIt','./fonts/ProximaNova/')
+font('ProximaNova-Semibold','./fonts/ProximaNova/')
+font('ProximaNova-SemiboldIt','./fonts/ProximaNova/')
+font('ProximaNova-Extrabld','./fonts/ProximaNova/')
+font('ProximaNova-ExtrabldIt','./fonts/ProximaNova/')
+font('ProximaNova-Black','./fonts/ProximaNova/')
+font('ProximaNova-BlackIt','./fonts/ProximaNova/')

+font('PlayfairDisplay-Black','./fonts/PlayfairDisplay/')
+font('PlayfairDisplay-BlackItalic','./fonts/PlayfairDisplay/')
+font('PlayfairDisplay-Bold','./fonts/PlayfairDisplay/')
+font('PlayfairDisplay-BoldItalic','./fonts/PlayfairDisplay/')
+font('PlayfairDisplay-Italic','./fonts/PlayfairDisplay/')
+font('PlayfairDisplay-Regular','./fonts/PlayfairDisplay/')



html
	+_mr(1280px)
		font-size: 16px
	+mr_(1280px)
		font-size: calcFluidFontSize(16,null,1280,6000)
body
	margin: 0
	font-family: "Ubuntu-R"
*
	box-sizing: border-box
svg
	max-width: 100%
	max-height: 100%
