.breakfast
	text-align: center
	font-size: 1rem
.breakfast__header
	.blockHeader__title
		color: #fff
	.blockHeader__desc
		color: #c8a593
.breakfast__list
	list-style: none
	padding: 0
	margin: 0
.breakfast__li
.breakfast__liName
	color: #ffffff
	font-family: "Alegreya-Regular"
	font-size: 1.875em
	font-weight: 700
	letter-spacing: 0.05em
.breakfast__liDesc
	font-size: 1em
	color: #c2beba
	font-family: "ProximaNova-Regular"
	letter-spacing: 0.05em
	line-height: 1.875em
	font-weight: 400
.breakfast__liCost
	color: #dfc691
	font-family: "Alegreya-Regular"
	font-size: 2.250em
	font-weight: 400
	line-height: 1
	letter-spacing: 0.05em




.breakfastMenu
	background: #fff url("./pictures/breakfast1.svg") bottom right no-repeat
	font-size: 1rem
	padding: 2em
	text-align: center
	box-shadow: 0.438em 0 0.313em rgba(0, 0, 0, 0.8)
	outline: 0.125em dashed #9e9c93
	outline-offset: -0.5em
.breakfastMenu__head
.breakfastMenu__headText
	display: flex
	flex-flow: row nowrap
	justify-content: space-around
	color: #56534c
	font-family: "Alegreya-Regular"
	font-size: 0.875em
	font-weight: 700
	line-height: 1.875em
	text-transform: uppercase
	letter-spacing: 0.044em
.breakfastMenu__headText_left
.breakfastMenu__headText_right
.breakfastMenu__headBreakLine
	fill: #c2beba
.breakfastMenu__title
	color: #56534c
	font-family: "Alegreya-Regular"
	font-size: 2.75em
	font-weight: 700
	line-height: 1.364
	letter-spacing: 0.025em
.breakfastMenu__desc
	color: #56534c
	font-family: "ProximaNova-Regular"
	font-size: 0.875em
	font-weight: 400
	line-height: 1.875em
	letter-spacing: 0.044em
.breakfastMenu__btn
	button
		padding: 1em 2em
		font-size: 1.125em
		border: 0.056em solid black
		color: #a47d5e
		font-family: "Alegreya-Regular"
		font-weight: 700
		line-height: 1.667em
		text-transform: uppercase
		letter-spacing: 0.05em
		background-color: transparent
		min-width: 10.556em







.block3
	display: flex
.block3__
	width: 50%
	flex-grow: 1
	flex-shrink: 1
.block3__left
.block3__right
