.breakfast
	text-align: center
.breakfast__header
	.blockHeader__title
		color: #fff
	.blockHeader__desc
		color: #c8a593
.breakfast__list
	list-style: none
	padding: 0
	margin: 0
.breakfast__li
.breakfast__liName
	color: #ffffff
	font-family: "Alegreya-Regular"
	font-size: 30px
	font-weight: 700
	letter-spacing: 1.5px
.breakfast__liDesc
	letter-spacing: 0.8px
	color: #c2beba
	font-size: 30px
	font-family: "ProximaNova-Regular"
	font-size: 16px
	line-height: 30px
	font-weight: 400

.breakfast__liCost
	color: #dfc691
	font-family: "Alegreya-Regular"
	font-size: 36px
	font-weight: 400
	line-height: 30px
	letter-spacing: 1.8px




.breakfastMenu
	background-color: #fff
	padding: 2em
	text-align: center
	box-shadow: 7px 0 5px rgba(0, 0, 0, 0.8)
	outline: 2px dashed #9e9c93
	outline-offset: -0.5em
.breakfastMenu__head
.breakfastMenu__headText
	display: flex
	flex-flow: row nowrap
	justify-content: space-around
	color: #56534c
	font-family: "Alegreya-Regular"
	font-size: 14px
	font-weight: 700
	line-height: 30px
	text-transform: uppercase
	letter-spacing: 0.7px
.breakfastMenu__headText_left
.breakfastMenu__headText_right
.breakfastMenu__headBreakLine
.breakfastMenu__title
	color: #56534c
	font-family: "Alegreya-Regular"
	font-size: 44px
	font-weight: 700
	line-height: 60px
	letter-spacing: 1.1px
.breakfastMenu__desc
	color: #56534c
	font-family: "ProximaNova-Regular"
	font-size: 14px
	font-weight: 400
	line-height: 30px
	letter-spacing: 0.7px
.breakfastMenu__btn
	button
		padding: 1em 2em
		border: 1px solid black
		color: #a47d5e
		font-family: "Alegreya-Regular"
		font-size: 18px
		font-weight: 700
		line-height: 30px
		text-transform: uppercase
		letter-spacing: 0.9px
		background-color: transparent
		min-width: 10.556em







.block3
	display: flex
.block3__
	width: 50%
	flex-grow: 1
	flex-shrink: 1
.block3__left
.block3__right
